{% extends 'base.html' %}

{% block style %}
<style xmlns:v-on="http://www.w3.org/1999/xhtml">
        #app {
  text-align: center;
}
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
button {

}





</style>
{% endblock %}

{% block content %}

<h3>Upload Resume</h3>
<div id="app">
    <h4>{{ title }}</h4>
    <fileupload target="/employee/upload_resume" action="POST"></fileupload>
</div>


<div class="container">
    <h2>Stacked form</h2>
    <form id="cand_form" method="post" v-on:submit="search">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" v-model="name" placeholder="Enter name" name="name"
                   required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" v-model="email" placeholder="Enter email" name="email"
                   required>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="text" class="form-control" id="mobile" v-model="mobile" placeholder="Enter mobile number"
                   name="mobile"
                   required>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role" v-model="role" placeholder="Enter current role"
                   name="mobile"
                   required>
        </div>
        <div class="form-group">
            <label for="total_exp">Total Experience:</label>
            <input type="text" class="form-control" id="total_exp" v-model="experience" placeholder="Enter total experience"
                   name="mobile"
                   required>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" id="summary" v-model="summary" placeholder="Give a brief summary"
                   name="mobile"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>
{% endblock %}


{% block script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-simple-upload@0.1.6/dist/vue-simple-upload.min.js"></script>
<script src="/static/js/resume_upload.js"></script>

{% endblock %}