{% extends 'base.html' %}

{% block style %}
{{ block.super }}
<style xmlns:v-on="http://www.w3.org/1999/xhtml">
        #app {
  text-align: center;
}
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
button {

}







</style>
{% endblock %}

{% block content %}
<div class="m-5">
<h4 class="text-center">Search Candidate</h4>
<div>
    <div class="ui-widget text-center">
        <input id="tags" class="text-center" placeholder="Software Engineer" style="width:93%;height:40px;">
    </div>
</div>
</div>

<div class="container m-5">
    <h4 class="text-center m-5">Recent Candidates</h4>
    <div class="card-deck">
        <div class="card">
            <img src="/static/avatars/male/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="/static/avatars/male/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="/static/avatars/male/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ block.super }}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/search_home.js"></script>

{% endblock %}